* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}
.top-box {
  display: flex;
  padding: 1rem 4rem;
  align-items: center;
}
.text-box {
  margin-left: 2rem;
}
.text-box h1 {
  font-size: 1.6rem;
  color: rgb(37, 37, 172);
}
.text-box h2 {
  font-size: 1.4rem;
}
.text-box p {
  font-size: 1rem;
}
.login-link {
  color: rgb(72, 72, 250);
  margin-left: auto;
  margin-right: 4rem;
}
.nav-logos {
  height: 4rem;
}
.links nav {
  margin-left: auto;
  width: 50%;
}
.links {
  padding: 0.2rem;
}
.login-link:link,
.login-link:visited {
  font-size: 1rem;
  text-decoration: none;
  border: 3px solid rgb(72, 72, 250, 1);
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
}
.links nav a:link,
.links nav a:visited {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}
.links nav {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.links nav a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/* .header {
  height: 100vh;
} */

.front-page {
  background-color: #1c468a;
  position: relative;
  padding-left: 1rem;
}
.front-page img {
  margin-top: 6rem;
  width: 100%;
}
.front-page .text-box {
  position: absolute;
  top: 28%;
  transform: translateY(-50%);
}
.front-page .text-box h1 {
  color: #fff;
  font-size: 3.5rem;
  width: 60%;
  line-height: 1.2;
  font-weight: 550;
}
.front-page .text-box a:link,
.front-page .text-box a:visited {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: rgb(79, 156, 249);
  padding: 0.3rem 0.6rem;
  border-radius: 9px;
  margin-left: 0.8rem;
  margin-top: 2rem;
  display: inline-block;
}
.info-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5rem 0;
}
.info-section img {
  width: 80%;
}
.info-section .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.4rem;
}
.info-section .text h3 {
  font-size: 3.2rem;
  font-weight: 500;
}
.info-section .text p {
  font-size: 1.8rem;
}
.detail-section {
  background-color: #1c468a;
  padding: 5rem 4rem;
}
.detail-section div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.detail-section img {
  width: 80%;
}
.detail-section h3 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #fff;
}
.detail-section p {
  font-size: 1.6rem;
  color: #fff;
}
.info-section li {
  font-size: 1.4rem;
}
.added-info .text p {
  font-size: 1.5rem;
}
.added-info ul {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.final-section {
  padding: 4rem 4rem;
  background-color: #1c468a;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
}
.final-section h3 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #fff;
}
.final-section p {
  font-size: 1.6rem;
  color: #fff;
}
.final-section a:link,
.final-section a:visited {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  background-color: rgb(79, 156, 249);
  padding: 0.4rem 0.8rem;
  border-radius: 9px;
  margin-top: 1rem;
}
footer {
  color: #fff;
  background-color: #1c468a;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 0.8rem;
}
footer h4 {
  font-size: 1.5rem;
  font-weight: 500;
}
footer p {
  font-size: 1.1rem;
  width: 60%;
}
footer ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}
footer li {
  font-size: 1.2rem;
  padding: 0.5rem;
}
footer ul li:not(:last-child) {
  border-right: 1px solid #fff;
}
